{% extends "layout.html" %}
{% block body %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/About.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About</h1>
                            <span class="subheading">Provide information on the technology behind the banking bot, including any innovative features or functionalities it offers.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h3>What Is banking bot?</h3>
                        <p>A banking bot is an artificial intelligence (AI) program that simulates a conversation with a human user in order to provide banking services and assistance. Banking bots use natural language processing (NLP) and machine learning to understand and respond to user requests and queries.

                            A banking bot can help customers with a range of tasks, such as checking account balances, transferring funds between accounts, making payments, providing information on products and services, and answering frequently asked questions. The bot can be accessed through various channels, such as a bank's website, mobile app, or messaging platforms like Facebook Messenger or WhatsApp.
                            
                            Banking bots can improve the efficiency of customer service and reduce the workload on human customer support staff. They can also provide 24/7 support and assistance to customers, increasing customer satisfaction and loyalty. by HR departments to monitor and improve their organisation's workforce planning and overall management.</p>
                        <h3>How does a banking bot work?</h3>
                        <p>A banking bot typically works by using natural language processing (NLP) to understand user queries and requests, and then using machine learning algorithms to provide appropriate responses.

                            Here's a high-level overview of how a banking bot works:
                            
                            User input: The user interacts with the bot through a conversational interface such as a messaging platform or voice assistant. The user can ask questions or request specific banking services.
                            
                            NLP: The bot uses natural language processing (NLP) to analyze the user's input and determine the user's intent. NLP enables the bot to understand variations of the same question or request, as well as account for misspellings, slang, and other nuances of human language.
                            
                            Backend integration: The bot is integrated with the bank's backend systems, such as account databases and payment gateways. This allows the bot to access the user's account information and perform banking transactions on behalf of the user.
                            
                            Machine learning: The bot uses machine learning algorithms to analyze the user's input and generate an appropriate response. The machine learning model can be trained on large datasets of historical customer interactions to improve its accuracy over time.
                            
                            Response generation: Based on the user's intent and the information available from the backend systems, the bot generates a response. The response may be in the form of text, voice, or a graphical interface depending on the platform being used.
                            
                            User feedback: The user can provide feedback on the bot's response, which can be used to further train and improve the machine learning model.
                            
                            Continuous improvement: The bot is continually updated and improved based on user feedback and new data. This ensures that the bot remains accurate and effective over time.</p>
                    </div>
                </div>
            </div>
        </main>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h3>Address:</h3><br>
                    <a href="">
                        <img src="{{url_for('static',filename ='assets/img/location.png')}}" alt="">
                        <span> Pimpri Chinchwad Education Trust <br>
                            Pimpri Chinchwad College Of Engineering<br>Sector -26, Pradhikaran, Nigdi,<br>
                            Near Akurdi Railway Station,<br>
                            Pune - 411 044.
                        </span>
                      </a>
                      <br>
                      <a href="">
                        <img src="{{url_for('static',filename ='assets/img/phone.png')}}" alt="">
                        <span> Tel: +1 123 456 789
                        </span>
                      </a>
                      <br>
                      <a href="">
                        <img src="{{url_for('static',filename ='assets/img/mail.png')}}" alt="">
                        <span>
                            pccoead________@gmail.com
                        </span>
                      </a>
                   
                </div>
            </div>
        </div>
        
{% endblock %}