<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{{url_for('static',filename = 'css/styles2.css')}}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container" onclick="onclick">
    <main>
               {% with messages=get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category,message in messages %}
                        {% if category== 'success' %}
                          <div class="alert alert-success mb-3" role="alert">{{message}}</div>
                        {% endif %}
                        {% if category== 'error' %}
                           <div class="alert alert-danger mb-3" role="alert">{{message}}</div>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
   <form method="POST" class="login-form" id="login-form" action="/login">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center">
    <h2>Please Sign In</h2>
    <input type="email" name="email" id = "email" placeholder="email" required="" />
    <input type="password" name="password" id = "password" placeholder="password" required="" />
    <div class="form-group form-button">
    <input type="submit" name="signin" id="signin" class="form-submit-button" value="Log in"/>
    
    </div>
     <a href="/register" class="signup-image-link">Create an account</a>
     <br>
     <a href="/" class="signup-image-link">Cancel</a>
    <h2>&nbsp;</h2>
  </div>
</div>
<!-- partial -->
  <script src='https://codepen.io/banik/pen/3f837b2f0085b5125112fc455941ea94.js'></script>
</body>
</html>
